<% students.forEach(function(student) { %>
<section class="student-profile-container">
    <div class="profileimg-container">
        <img
            src="/public/images/profile/<%= student.profilepic %>"
            alt="student"
        />
    </div>
    <div class="student-profile-content">
        <h2><%= student.firstname + ' ' + student.lastname %></h2>
        <div>
            <ul>
                <li>Education: <%= student.education %></li>
                <li>Liked: <%= student.liked %></li>
            </ul>
            <form id="update" action="/update" method="post">
                <button class="btn" name="unlike" type="submit" value="<%= student._id %>">Unlike</button>
                <button class="btn" name="like" type="submit" value="<%= student._id %>">Like</button>
                <button class="btn" name="delete" type="submit" value="<%= student._id %>">Delete</button>
            </form>
        </div>
    </div>
</section>
<% }); %>
